<h1>Here is the List of Our Latest Articles</h1>

<p>
    <h3>Trending Now: </h3>
    <ul>
    <% @article.each do |art| %>
    <a href="articles/<%= art.id %>">
    <li><%= art.title %></li>
    </a>
    <% end %>
    </ul>
</p>