<h1>Post your New Artice Here!!</h1>

<form action="/articles" method="POST">
<Label for="art_title" >Title:</Label>
<input type="text" name="title" id="art_title"></input>

<Label for="art_content" >Content:</Label>
<input type="text" name="content"></input>
<input type="submit" name="submit" value="submit">

</form>